.productTitle {
  color: rgba(44, 35, 104, 1);
  background-color: rgba(44, 35, 104, 0.11);
  cursor: pointer;
  width: fit-content;
  padding: 1rem;
}
.Products {
  width: 100%;
}
.tableWhole {
  width: 90%;
  /* margin-left: 15%; */
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
}
.tableHead {
  background-color: rgba(58, 46, 139, 0.719);
}
.tableName {
  color: white;
}
.productName {
  color: burlywood;
}
.productButton {
  background-color: rgba(58, 46, 139, 0.719);
}
/* .productButton:hover{
background-color: rgba(156, 45, 45, 0.759);
} */
.row {
  display: block;
  margin-left: 5%;
}
.btn:hover {
  background-color: rgba(58, 46, 139, 0.719);
}

.addProduct {
  height: 10rem;
}
